<div class="featured_product">
  {% if product.tags contains 'bestseller' %}
    {% render 'best-seller' %}
  {% endif %}

  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | image_url }}" width="100%" />
  </a>
  <div class="featured_product__title">
    {{ product.title }}
    <span class="product_name-prefix">PDF V3</span>
  </div>
  <div class="featured_product-prices">
    <span class="featured_product__price">{{ product.price | money }}</span>
    <span class="featured_product__compare_price">{{ product.compare_at_price | money }}</span>
  </div>

  <div class="add_to_cart--button" onclick="addToCart({{ product.variants.first.id }})">
    {% render 'icon-shopping-bag' %}
  </div>

  <div class="add_to_cart--label">
    Add to cart
  </div>
</div>

<script>
  function addItem(variantId, quantity) {
    fetch("/cart/add.json", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json"
        },
        body: JSON.stringify({
            id: variantId,
            quantity: quantity
        })
    }).then(function (result) {
      location.reload();
    })
  }

  function addToCart(variantId) {
    addItem(variantId, 1);
  }
</script>
