{{ 'customer.css' | asset_url | stylesheet_tag }}

{% render 'breadcrumb', pagename: 'Account' %}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="customer account section-{{ section.id }}-padding">
  <div>
    <h1 class="customer__title">{{ 'customer.account.title' | t }}</h1>
  </div>

  <div>
    <div class="section-customer__detail">
      <div class="section__title">{{ 'customer.account.details' | t }}</div>

      <div class="customer__default_address">
        {{ customer.default_address | format_address }}
      </div>

      <a href="{{ routes.account_addresses_url }}" class="customer__account_addresses_url">
        {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
      </a>
    </div>

    <div class="section-manage__subscriptions">
      Manage Subscriptions
    </div>

    <div>
      <h2 class="section__title customer__orders_title">{{ 'customer.orders.title' | t }}</h2>

        {%- if customer.orders.size > 0 -%}
          <table role="table" class="order-history">
            <thead role="rowgroup">
              <tr role="row">
                <th id="ColumnOrder" scope="col" role="columnheader">Order</th>
                <th id="ColumnProduct" scope="col" role="columnheader">Product</th>
                <th id="ColumnDate" scope="col" role="columnheader">Date</th>
                <th id="ColumnPrice" scope="col" role="columnheader">Price</th>
                <th id="ColumnTotal" scope="col" role="columnheader">Total</th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              {%- for order in customer.orders -%}
                <tr role="row">
                  <td
                    id="RowOrder"
                    role="cell"
                    headers="ColumnOrder"
                  >
                    <a
                      href="{{ order.customer_url }}"
                      aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                    >
                      {{ order.name }}
                    </a>
                  </td>
                  <td headers="RowOrder ColumnProduct" role="cell">
                    {%- for line_item in order.line_items -%}
                      {{ line_item.title | link_to: line_item.product.url }}
                    {%- endfor -%}
                  </td>
                  <td
                    headers="RowOrder ColumnDate"
                    role="cell"
                  >
                    {{ order.created_at | date: format: 'date' }}
                  </td>
                  <td
                    headers="RowOrder ColumnPrice"
                    role="cell"
                  >
                    {{ order.total_net_amount | money_with_currency }}
                  </td>
                  <td headers="RowOrder ColumnTotal" role="cell">
                    {{ order.total_net_amount | money_with_currency }}
                  </td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>

          {%- for order in customer.orders -%}
            <div class="card--order">
              <div class="card--order--data card--order--name">
                <div class="card--order--label">Order</div>
                <div>{{ order.name }}1</div>
              </div>
              <div class="card--order--data card--order--product">
                <div class="card--order--label">Product</div>
                <div>
                  {%- for line_item in order.line_items -%}
                    {{ line_item.title | link_to: line_item.product.url }}
                  {%- endfor -%}
                  2
                </div>
              </div>
              <div class="card--order--data card--order--date">
                <div class="card--order--label">Date</div>
                <div>{{ order.created_at | date: format: 'date' }}3</div>
              </div>
              <div class="card--order--data card--order--price">
                <div class="card--order--label">Price</div>
                <div>{{ order.total_net_amount | money_with_currency }}4</div>
              </div>
              <div class="card--order--data card--order--total">
                <div class="card--order--label">Total</div>
                <div>{{ order.total_net_amount | money_with_currency }}5</div>
              </div>
            </div>
          {%- endfor -%}
        {%- else -%}
          <p class="customer__orders__none">{{ 'customer.orders.none' | t }}</p>
        {%- endif -%}
      
    </div>
  </div>
</div>
