<html>
  <header>
    {{ content_for_header }}
    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
  </header>
  <body class="body-bg">
    
    <div class="container">
      {% render 'header'%}
      {{ content_for_layout }}
    </div>
    
    {{ 'scripts.js' | asset_url | script_tag }}
  </body>
</html>
