<div class="cart--products">
  <div class="cart--product__summary cart--product-card_header">Product</div>
  <div class="cart--product__price cart--product-card_header">Price</div>
  <div class="cart--product__quantity cart--product-card_header">Quantity</div>
  <div class="cart--product__total cart--product-card_header">Total</div>
</div>

{% form 'cart', cart %}
  {% for item in cart.items %}
    <div class="cart--products cart--product-card">
      <div class="cart--product__summary">
        <img src="{{ item.image | image_url }}" />
        <div>{{ item.title }}</div>
      </div>
      <div class="cart--product__price">
        {{ item.price | money }}
      </div>
      <div class="cart--product__quantity">
        <div class="cart--decrement">-</div>
        <div>{{ item.quantity }}</div>
        <div class="cart--increment">+</div>
      </div>
      <div class="cart--product__total">
        <div>{{ item.final_line_price | money }}</div>
        <div class="icon-close">{% render 'icon-close' %}</div>
      </div>
    </div>

    <div class="cart--products-mobile cart--product--card-mobile">
      <div class="cart--product--mobile__summary">
        <img src="{{ item.image | image_url }}" />
        <div>{{ item.title }}</div>
      </div>
      <div class="cart--product--mobile__price">
        <div>Price</div>
        <div>{{ item.price | money }}</div>
      </div>
      <div class="cart--product--mobile__quantity">
        <div>Quantity</div>
        <div class="cart--quantity--buttons">
          <div class="cart--decrement">-</div>
          <div>{{ item.quantity }}</div>
          <div class="cart--increment">+</div>
        </div>
      </div>
      <div class="cart--product--mobile__total">
        <div>Total</div>
        <div>{{ item.final_line_price | money }}</div>
      </div>
    </div>
  {% endfor %}

  <div class="cart--subtotal-section">
    <div class="cart--subtotal-label">Subtotal</div>
    <div>{{ cart.items_subtotal_price | money }}</div>
  </div>

  <div class="terms--agreement">
    {%
      render 'checkbox',
        name: 'terms',
        label: 'I have read and agreed with the terms and conditions and the Refund Policy',
        class: 'cart--terms--agreement'
    %}
  </div>
  
  <div class="cart--buttons">
    <button type="submit" name="Refresh Cart" class="cart-refresh--button">
      {% render 'icon-refresh' %}
    </button>
  
    <button type="button" class="cart-continue--button">Continue shopping</button>
    <button type="submit" name="checkout" class="theme-btn cart-checkout--button">Check out</button>
  </div>
{% endform %}